---
layout: layouts/default.ejs
title: My Markdown Blog Post
name: Drashya Patel
home: "/"
---
<div class='dras'>
<%= title %>
</div>

<br>

<div class="dras2"> **Hey, this is my Lab-1 write-up using Markdown. 
    In this lab-1 I have done some research on different Static Site Generator(SSG) engines, have mentioned their pro and cons. Moreover, 
    I have also created a simple blog post using markdown about 11ty settings and some other useful SSG engines specificly.**</div>

<br>

<div class="dras2">CLick and Head to the <a href="/README"> ReadMe</a>  page from Navigation bar to continue with my blog post.</div>